* {
    box-sizing: border-box;
}
:root {
    --bgc-1: #fffaf5;
    --bgc-2: #fff6ed;
    --font-hl: "Sora", serif;
    --primary-color: #656689;
    --common-h-color: #000958;
    --primary-orange-color: #ff5b2e;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: var(--bgc-1);
}
/* Common */
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--common-h-color);
    font-family: var(--font-hl);
}

span {
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    align-items: center;
    justify-content: center;
    display: inline-flex;
    line-height: var(--height);
    height: var(--height);
    min-width: 130px;
    border: 1px solid var(--common-h-color);
    color: var(--common-h-color);
    border-radius: 999px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    transition: 0.25s;
}
.btn--primary {
    color: #fff !important;
    border-color: var(--primary-orange-color) !important;
    background: var(--primary-orange-color) !important;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 10px;
}

.section__heading {
    color: #000958;
    font-family: var(--font-hl);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
}
.section__desc {
    margin-top: 24px;
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 3rem;
}
.small-section__desc {
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 2.4rem;
}
/* Header */
.header {
    padding: 26px 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list {
    display: flex;
}
.navbar__link,
.header-action__link {
    color: #5e6085;
    padding: 8px 18px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.header-action {
    display: flex;
    align-items: center;
}

.navbar__link:hover,
.header-action__link:hover {
    text-shadow: 1px 0 0 currentColor;
}
.header-action__btn {
    min-width: 11.7rem;
    --height: 50px;
    position: relative;
    overflow: hidden;
    transition: 0.25s, border-color 0.5s;
}

.header-action__btn::after {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    position: absolute;
    background-color: var(--primary-orange-color);
    border-radius: 999px;
    transition: 0.25s;
}
.header-action__btn:hover {
    color: #fff;
    border-color: var(--primary-orange-color);
}
.header-action__btn:hover::after {
    width: 100%;
    left: 0;
}

/* hero */
.hero {
    margin-top: 150px;
}
.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__media {
    height: 58.2rem;
    position: relative;
}
.hero__img-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    border-radius: 16px;
    border: 3px solid #fff;
    width: 38.8rem;
    height: 48.8rem;
    background: #fe997b;
}
.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}
.hero__decor {
    position: absolute;
    z-index: -1;
}
.hero__decor-right {
    top: 16.7px;
    left: 376px;
}
.hero__decor-left {
    bottom: 10px;
    left: -58px;
}

.hero__img-wrap-small {
    left: 365px;
    top: -186px;
    position: relative;
    width: 18.6rem;
    height: 24.4rem;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: linear-gradient(206deg, #faa7ad 4.68%, #e87f8a 98.09%);
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.hero__list {
    bottom: 0;
    left: 130px;
    position: absolute;
    padding: 20px 14px;
    width: 25rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero__list-item {
    display: flex;
    column-gap: 10px;
}
.hero__list-item__thumb {
    border-radius: 10px;
    background: #fec23f;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.hero__mini-2 {
    background: #c6e2fa;
}
.hero__list-item__title {
    color: #181e52;
    font-family: var(--font-hl);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.hero__list-item__skeleton {
    width: var(--width, 118px);
    height: 0.4rem;
    border-radius: 1rem;
    opacity: 0.08;
    background: #000958;
    margin-top: 6px;
}
.hero__list-item__skeleton:last-child {
    --width: 39px;
}
.hero__list-item__separate {
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    margin: 20px 0;
    border-radius: 99px;
}
.hero__content {
    width: 45%;
}
.hero__heading {
    color: var(--common-h-color);
    font-family: var(var(--font-hl));
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 7.6rem; /* 115.152% */
}
.hero__desc {
    margin-top: 24px;
    width: 391px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 3rem; /* 187.5% */
}
.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.hero__cta-btn {
    --height: 60px;

    width: 189px;
}
.hero__cta-btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__cta-link {
    transition: 0.25s;
    position: relative;
    color: var(--common-h-color);
    font-weight: 500;
}
.hero__cta-link::after {
    content: "";
    height: 2px;
    display: inline-block;

    background: var(--common-h-color);
    width: 0%;
    position: absolute;
    right: 0;
    bottom: -5px;
    transition: 0.25s;
}
.hero__cta-link:hover::after {
    width: 100%;
    left: 0;
}

/* About */
.about {
    margin-top: 207px;
}
.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}
.about__heading {
    margin-top: 15px;
    width: 446px;
}
.about__desc {
    width: 431px;
}
.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 34px;
    justify-content: flex-start;
    column-gap: 36px;
}
.about__check-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}
.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about__check-item::after {
    position: absolute;
    content: url(../img/check.svg);
}

.about__media {
    position: relative;
}
.about__card {
    left: 0;
    top: 165px;
    position: absolute;
    display: inline-block;
    width: 13.6rem;
    padding: 31px 26px 29px;
    border-radius: 1rem;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}
.about__card-mini {
    position: absolute;
    top: -39px;
    right: -33px;
}
.about__card-title {
    color: #fff;
    text-align: center;
    font-family: var(--font-hl);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}
.about__card-desc {
    width: 8.3rem;
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem; /* 142.857% */
}
.about__img {
    width: 450px;
}
.about__img-wrap {
    margin-left: auto;
    width: 494px;
    position: relative;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.about__img-wrap::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}
.about__img-effect {
    position: absolute;
    top: 157px;
    right: -51px;
    z-index: -2;
}
.about__img-wrap-bottom {
    margin-left: 0;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}
.about__img-wrap-bottom::before {
    content: none;
}
.about__img-bottom {
    width: 100%;
}
.about__decor {
    position: absolute;
}
.about__decor:first-child {
    top: 12.5px;
    right: 63.16px;
}
.about__decor:nth-child(2) {
    top: -16px;
    right: 13px;
}
.about__decor:nth-child(3) {
    top: 33px;
    right: -21px;
}
.about__decor:nth-child(4) {
    right: -33px;
    top: 284px;
}
.about__decor:nth-child(5) {
    right: 19px;
    bottom: 150px;
}
.about__decor:last-child {
    bottom: -55px;
    right: -42px;
}

.about__desc-bottom {
    width: 511px;
}

.tab {
    margin-top: 52px;
}
.tab__list {
    margin-left: -13px;
    display: inline-flex;
    column-gap: 56px;
    position: relative;
}
.tab__list::after,
.tab__item--active::after {
    content: "";
    height: 2px;
    background: #ff5b2e;
    display: inline-block;
    position: absolute;
    border-radius: 1px;
    opacity: 0.07;
    left: 14px;
    right: 0;
    bottom: 0;
}
.tab__item--active::after {
    opacity: 1;
    width: 95px;
}
.tab__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;

    padding-bottom: 14px;
}
.tab__title {
    color: #48496a;
    font-family: var(--font-hl);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}
.tab__item:nth-child(1) .tab__img {
    position: relative;
    top: 1px;
    left: 7px;
}
.tab__item:nth-child(2) .tab__img {
    position: relative;
    top: 4px;
    left: 0;
}
.tab__item:nth-child(3) .tab__img {
    position: relative;
    top: -2px;
    left: 0;
}
.tab__content-item {
    display: none;
}
.tab__content-item--active {
    display: initial;
}
.tab__content-desc {
    margin-top: 36px;
    width: 391px;
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 2.4rem; /* 171.429% */
}
.tab__content-more {
    display: inline-block;
    color: #ff5d31;
    font-weight: 500;
    line-height: 1;
    margin-top: 32px;
    position: relative;
    transition: 0.25s;
}
.tab__content-more::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0;
    height: 2px;
    right: 0;
    bottom: -5px;
    background: #ff5d31;
    transition: 0.25s;
    border-radius: 1px;
}
.tab__content-more:hover::after {
    left: 0;
    width: 100%;
}

/* service */
.service {
    margin-top: 190px;
    background: var(--bgc-2);
    padding: 44px 0 100px;
}

.service__body {
    display: grid;
    column-gap: 70px;
    grid-template-columns: auto 1fr auto;
    margin-top: 71px;
}
.service__top {
    text-align: center;
}
.service__top-desc {
    font-weight: 600;
}
.service__top-heading {
    margin-top: 15px;
}
.service-item {
    padding: 30px 28px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    transition: 0.25s;
}

.service-item:not(:last-child) {
    margin-bottom: 24px;
}
.service-item__heading {
    color: var(--common-h-color);
    font-family: var(--font-hl);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    position: relative;
}
.service-item__heading::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    border-radius: 1px;
    left: 0;
    bottom: -3px;
    margin-right: 5px;
}
.service-item__desc {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.service-item__link {
    margin-top: 24px;
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    position: relative;
    transition: 0.25s;
}
.service-item__link::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0;
    left: 0;
    height: 2px;
    right: 0;
    bottom: -5px;
    background: #ff5d31;
    transition: 0.25s;
    border-radius: 1px;
}
.service-item__link:hover::after {
    width: 100%;
}
.service__media {
    margin-top: 25px;
    position: relative;
}
.service__media::after {
    z-index: 0;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}
.service__img {
    width: 100%;
    position: relative;
    display: block;
    z-index: 1;
}
.service__cta-wrap {
    display: flex;
    justify-content: center;
}
.service__cta {
    margin-top: 55px;
    min-width: 214px;
    border-radius: 31px;
    color: var(--primary-orange-color);
    overflow: hidden;
    position: relative;
    border: 1px solid currentColor;
    transition: 0.25s;
}
.service__cta:hover {
    color: #fff;
    border-color: var(--primary-orange-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.service__cta::after {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    position: absolute;
    background-color: var(--primary-orange-color);
    border-radius: 999px;
    transition: 0.25s;
}

.service__cta:hover::after {
    width: 100%;
    left: 0;
}

/* STaff */
.staff {
    padding: 116px 0 130px;
}
.staff__top {
    text-align: center;
}
.staff__top-desc {
    font-weight: 600;
}
.staff__top-heading {
    margin-top: 15px;
}

.staff__list {
    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}
.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}
.staff-item__img-wrap::before {
    width: 100%;
    height: 93%;
    content: "";
    position: absolute;
    border-radius: inherit;
    bottom: 0;
}
.staff-item:nth-child(1) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item__img-wrap::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../img/staff-border-1.svg);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-position: 0 16px;
    background-image: url(../img/staff-border-2.svg);
}
.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-border-3.svg);
}
.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-position: 0 16px;
    background-image: url(../img/staff-border-4.svg);
}
.staff-item__img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: inherit;
}

.staff-item__title,
.staff-item__name {
    line-height: 1;
    text-align: center;
}
.staff-item__title {
    color: #656689;
    margin-top: 34px;
    font-size: 1.4rem;
}
.staff-item__name {
    margin-top: 14px;
    color: var(--common-h-color);
    font-family: var(--font-hl);
    font-size: 2.2rem;
    font-weight: bolder;
}
.staff__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.staff__cta {
    border-color: currentColor;
    color: var(--primary-orange-color);
    position: relative;
    overflow: hidden;
    min-width: 193px;
    --height: 56px;
    flex-shrink: 0;
    transition: 0.25s;
}
.staff__cta::after {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    position: absolute;
    background-color: var(--primary-orange-color);
    border-radius: 999px;
    transition: 0.25s;
}
.staff__cta:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
    border-color: var(--primary-orange-color);
}
.staff__cta:hover::after {
    width: 100%;
    left: 0;
}

/* pricing */
.pricing {
    background-color: var(--bgc-2);
    padding: 86px 0;
}
.pricing__switch-inner {
    position: relative;
}
.pricing__top {
    text-align: center;
}
.pricing__desc {
    width: 709px;
    margin: 24px auto 0;
}

.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
.pricing__switch-label {
    position: relative;
    padding: 20px 40px;
    flex-shrink: 0;
    border-radius: 31px;
    border: 1px solid var(--primary-orange-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    -webkit-user-select: none;
    user-select: none;
    column-gap: 80px;
    cursor: pointer;
}
.pricing__switch-label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 140px;
    bottom: 0;
    top: 0;
    background-color: var(--primary-orange-color);
    border-radius: inherit;
    transition: 0.25s;
}
.pricing__switch-value {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}
.pricing__switch-input:checked + .pricing__switch-label::before {
    left: auto;
    right: 0;
    width: 131px;
}
.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(1),
.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(2) {
    color: var(--primary-orange-color);
}
.pricing__img {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__list {
    padding: 0 88px;
    margin-top: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.pricing-item {
    padding: 30px 28px 43px;
    width: 302px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #fff;
    transition: 0.25s;
}
.pricing-item:hover {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.1);
}
.pricing-item__type {
    color: var(--primary-orange-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}
.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}
.pricing-item__price {
    margin-top: 24px;
    color: var(--common-h-color);
    font-size: 3.3rem;
    font-family: var(--font-hl);
    font-weight: 700;
    line-height: 3.4rem;
}
.pricing-item__btn {
    --height: 44px;
    margin-top: 22px;
    min-width: 100%;
    background-color: transparent;
    outline: none;
    color: var(--primary-orange-color);
    border: 1px solid currentColor;
    cursor: pointer;
    transition: 0.25s;
}
.pricing-item__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.pricing-item__list {
    margin-top: 30px;
}

.pricing-item__item {
    color: #656689;
    font-size: 1.4rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 12px;
}
.pricing-item__item + .pricing-item__item {
    margin-top: 18px;
}
.pricing-item__item::before {
    content: url(../img/pricing-check.svg);
}
.not-included.pricing-item__item::before {
    opacity: 0.3;
}

/* REVIEW */
.review {
    padding-top: 122px;
}
.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}
.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
}

.review__control {
    width: 54px;
    height: 54px;
    outline: none;
    border-radius: 50%;
    flex-shrink: 0;
    border: 1.5px solid currentColor;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--primary-orange-color);
    transition: 0.25s;
}
.review__control:hover {
    color: #fff;
    background-color: var(--primary-orange-color);
}
.review__arrow-right {
    rotate: 180deg;
}
.review-item__heading {
    color: var(--common-h-color);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
}
.review-item__quote {
    width: 555px;
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
}
.review-item__author {
    margin-top: 34px;
    color: #282828;
    font-family: var(--font-hl);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.review-item__author::before {
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
}

.review-item__media {
    margin-top: -52px;
    border-radius: 137px;
    width: 274px;
    flex-shrink: 0;
    position: relative;
}
.review-item__media::after {
    content: "";

    position: absolute;

    box-shadow: 41px 1px 41px 0px rgba(255, 175, 19, 0.18);
    border-radius: inherit;
    background: #ffda54;
    height: 82%;
    inset: auto 0 0 0;
    z-index: -1;
}
.review-item__content {
    margin-top: 28px;
}

.review-item__img {
    width: 100%;
    border-radius: inherit;
    display: block;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.review__dot {
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-radius: 99px;
    border: 1px solid var(--primary-orange-color);
}
.review__dot:hover {
    background-color: var(--primary-orange-color);
}
.review__dot--active {
    width: 24px;
    background-color: var(--primary-orange-color);
}
.review__control:last-of-type {
    margin-left: auto;
}

/* Blog */
.blog {
    margin-top: 130px;
}
.blog__top {
    display: flex;
    align-items: center;
    column-gap: 512px;
}

.blog__top-desc {
    margin-top: 0;
    width: 350px;
    margin-bottom: 24px;
}
.blog__btn {
    width: 182px;
    --height: 56px;
    height: var(--height);
    flex-shrink: 0;
    transition: 0.25s;
    color: var(--primary-orange-color);
    border-color: currentColor;
    position: relative;
    overflow: hidden;
}

.blog__btn::after {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    position: absolute;
    background-color: var(--primary-orange-color);
    border-radius: 999px;
    transition: 0.25s;
}
.blog__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
    border-color: var(--primary-orange-color);
}
.blog__btn:hover::after {
    width: 100%;
    left: 0;
}

.blog-item__title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.4rem;
}
.block-item__desc {
    margin-top: 16px;
    font-size: 1.4rem;
    line-height: 2.4rem; /* 171.429% */
}
.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}
.blog-item__img-wrap {
    padding: 24px 0 0 36px;
    border-radius: 24px;
    background: #90ccff;
}

.blog-item:nth-of-type(2) .blog-item__img-wrap {
    background: #ff997e;
}
.blog-item:nth-of-type(3) .blog-item__img-wrap {
    background: #5bd6e2;
}
.blog-item__img {
    margin-top: 25px;
    display: block;
    width: 100%;
    object-fit: cover;
}
.blog-item__time {
    color: #fff;
    font-family: var(--font-hl);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
}
.blog-item__info {
    padding: 28px 16px 0 0;
}

/* footer */
.footer {
    margin-top: 131px;
    background: linear-gradient(to right, var(--bgc-2) 42%, transparent 42%);
}
.footer__inner {
    display: flex;
}
.footer__left {
    width: 42%;
    padding: 114px 0 148px;
}
.search-form {
    margin-top: 40px;
    position: relative;
    display: flex;
    margin-bottom: 68px;
}
.search-form__input {
    padding-left: 22px;
    padding-right: 58px;
    width: 268px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    background: #fff;
    outline: none;
}
.search-form__input {
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4rem; /* 116.667% */
}
.search-form__btn {
    position: absolute;
    rotate: 180deg;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 46px;
    flex-shrink: 0;
    cursor: pointer;
    left: 234px;
    color: #fff;
    background-color: var(--primary-orange-color);
    border: 1px solid var(--primary-orange-color);
    outline: none;
}
.footer__heading {
    color: #000958;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem; /* 111.111% */
}
.social-list {
    display: flex;
    column-gap: 16px;
    margin-top: 16px;
}
.social-item {
    width: 32px;
    height: 32px;
    display: flex;
    border-radius: 50%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}
.footer__right {
    padding: 52px 0 48px 129px;
}
.footer__list {
    margin-top: 14px;
}
.footer__link {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2; /* 200% */
}
.footer__row {
    display: grid;
    grid-template-columns: auto auto;
    gap: 58px 137px;
}
.footer__copy-right {
    margin-left: -102px;
    margin-top: 52px;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4rem; /* 116.667% */
}
